<nav class="navbar">
    <div class="container">
        <a [routerLink]="['/']" class="logo">
            <i class="fas fa-hands-helping"></i>
            Добро<span>Дело</span>
        </a>
        <ul class="nav-links">
            <li><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Главная</a>
            </li>
            <li><a [routerLink]="['/']" fragment="events">Мероприятия</a></li>
            <li><a [routerLink]="['/']" fragment="how-it-works">Как это работает</a></li>

            <ng-container *ngIf="auth()===false">
                <li><a [routerLink]="['/login']" id="login-btn">Войти</a></li>
                <li><a [routerLink]="['/register']" class="btn btn-primary" id="register-btn">Регистрация</a></li>
            </ng-container>

            <ng-container *ngIf="auth()===true">
                <li><a  id="notifications-btn"><i class="fas fa-bell"></i></a></li>
                <li><a [routerLink]="['/profile']" routerLinkActive="active">Профиль</a></li>
                <li><a (click)="out()" [routerLink]="['/']" >Выйти</a></li>
            </ng-container>
        </ul>
    </div>
</nav>